{
    "presets": [ 
        [
        "env", {
                "targets": {
                    "node": "current"
                },
                "test": {
                    "test": [
                        "jest"
                    ]
                } 
            }
        ]
    ]
}